:root {
  --primary-font: Open Sans, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

body {
  font-family: var(--primary-font);
}

.header {}

.logo-link {}

.header-logo {}

.header-nav {}

.item {
  display: none;
}

.link {
  text-decoration: none;
}

.header-contact {}

.header-btn {}

.main {}

.hero {}

.hero-list {}

.hero-item {}

.hero-link {}

/* .hero-uppertitle {
    font-family:'Tangerine', sans-serif;
  color: #2a2a2a;
  font-size: 32px;
}

.hero-uppertitle::first-letter {
    font-family: 'Tahoma', serif;
    font-size: 32px;
    color: #f44336; */
}

.hero-title {
    color: #ffffff;
  text-shadow: 10px -3px 20px #ff0000, 4px 7px 5px #000000;
  font-style: italic;
}

.hero-undertitle {}

.hero-slider {}

.hero-slider-item {}

.hero-slider-btn {}

.about-section {}

.price-section {}

.benefits-section {}

.team-section {}

.gallery-section {}

.hide {display: none;}

.booking-section {}

.contacts-section {}

.footer {}