html {
  box-sizing: border-box;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-font: Open Sans, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --main-text-color: #555555;
  --primary-color: #415167;
  --accent-hz-color: #c7a17a;
  --accent-color-light: #f9f5e8;
  --dark-grey: #151d28;
  --light-grey: #edf0f5;
  --text-color-dark: #303030;
  --text-color-light: #ffffff;
  --text-color-price: #9da4bd;
  --accent-color: #ff6c00;
  --accent-color-btn: #ff6c00;

}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: #807575;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  outline: 2px solid red;
  outline-offset: -2px;
}

.uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--text-color-dark);
}

.uppertitle-dark {
  color: rgba(157, 164, 189, 0.6);
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  
  color: var(--text-color-dark);
  background-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color-btn);
}

.btn-dark {
  color: var(--text-color-light);
}

/* .header-item {
  font-family: Arial, sans-serif;
} */

.header-link,
.header-contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--text-color-light);
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}


.header {
  background-color: #807575;
}

.logo-link {}

.header-logo {}

.header-nav {}

.item {
}

.header-contact {}

.header-btn {}

.main {}

.hero {}

.hero-list {}

.hero-item {}

.hero-link {}

/* .hero-uppertitle {
    font-family:'Tangerine', sans-serif;
  color: #2a2a2a;
  font-size: 32px;
}

.hero-uppertitle::first-letter {
    font-family: 'Tahoma', serif;
    font-size: 32px;
    color: #f44336;
} */

/* .hero-title {
    color: #ffffff;
  text-shadow: 10px -3px 20px #ff0000, 4px 7px 5px #000000;
  font-style: italic;
} */

.hero-title {
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: 85px; 
  letter-spacing: 0.05em;
  color: var(--text-color-light);
}

.hero-undertitle {}

.hero-slider {}

.hero-slider-item {}

.hero-slider-btn {}

.about-section {}

.price-section {}

.benefits-section {}

.team-section {}

.gallery-section {}

/* .hide {display: none;} */

.booking-section {}

.contacts-section {}

.footer {}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}