:root {
  --primary-font: Open Sans, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --main-text-color: #555;
  --primary-color: #415167;
  --accent-color: #c7a17a;
  --accent-color-light: #f9f5e8;
  --dark-grey: #151d28;
  --light-grey: #edf0f5;
  --title-color-dark: #303030;
  --title-color-light: #fff;
  --text-color-price: #9da4bd;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

ul {
  list-style: none;
}

.header {}

.logo-link {}

.header-logo {}

.header-nav {}

.item {
}

.link {
  text-decoration: none;
}

.header-contact {}

.header-btn {}

.main {}

.hero {}

.hero-list {}

.hero-item {}

.hero-link {}

/* .hero-uppertitle {
    font-family:'Tangerine', sans-serif;
  color: #2a2a2a;
  font-size: 32px;
}

.hero-uppertitle::first-letter {
    font-family: 'Tahoma', serif;
    font-size: 32px;
    color: #f44336; */
}

.hero-title {
    color: #ffffff;
  text-shadow: 10px -3px 20px #ff0000, 4px 7px 5px #000000;
  font-style: italic;
}

.hero-undertitle {}

.hero-slider {}

.hero-slider-item {}

.hero-slider-btn {}

.about-section {}

.price-section {}

.benefits-section {}

.team-section {}

.gallery-section {}

.hide {display: none;}

.booking-section {}

.contacts-section {}

.footer {}